In [10]:
import json
import requests
import pandas as pd

url = 'http://bayesian-bandit.adludio.com/'
r = requests.post(url +'dump_bandit_data', 
    json={'item_group_id_list': ['b5yn8r3', 's2dmtni', 'bwik4qv', '73t0r3u', 'wqgxoc1', 
                                 'u2t9dgi', 'uwyvrja', 'pace1ha', 'vf03dnt', '36b7iyw' ] } )
parsed = json.loads(r.content)
df = pd.DataFrame(parsed['bandit_data']).sort_values('date').reset_index(drop=True).drop(columns='id')
df

,item_id,item_group_id,date,created_at,num_success,num_trials,num_engagements,num_impressions,num_clickthroughs,daily_spend,revenue
0,p673nlk,b5yn8r3,2020-07-27,2021-02-01 18:53:14,235,3052,235,3052,5,11.79,70.50
1,yar3gt3,b5yn8r3,2020-07-27,2021-02-01 18:53:14,260,2991,260,2991,4,11.61,78.00
2,1wr71gl,b5yn8r3,2020-07-27,2021-02-01 18:53:14,286,2968,286,2968,9,12.03,85.80
3,1wr71gl,b5yn8r3,2020-07-28,2021-02-01 18:53:14,349,3169,349,3169,11,12.87,104.70
4,p673nlk,b5yn8r3,2020-07-28,2021-02-01 18:53:14,339,3306,339,3306,2,12.88,101.70
...,...,...,...,...,...,...,...,...,...,...,...
1455,pjiwct6,36b7iyw,2020-12-14,2021-02-01 18:55:19,946,6132,946,6132,59,66.59,236.50
1456,0yyr8tx,36b7iyw,2020-12-15,2021-02-01 18:55:19,1399,9620,1399,9620,64,104.60,349.75
1457,pjiwct6,36b7iyw,2020-12-15,2021-02-01 18:55:19,993,6077,993,6077,67,66.08,248.25
1458,0yyr8tx,36b7iyw,2020-12-16,2021-02-01 18:55:20,856,4523,856,4523,30,49.36,214.00
1459,pjiwct6,36b7iyw,2020-12-16,2021-02-01 18:55:20,594,2813,594,2813,34,30.81,148.50